<div class="lcars-row centered button-row">
    <div class="lcars-column lcars-u-2">
        <div class="button-grid">
            <button class="lcars-element button uppercase lcars-husk-bg"
                    type="submit">Transmit
            </button>
            <a href="{{ request.GET.next }}">
                <button class="lcars-element button uppercase lcars-red-damask-bg"
                        type="button">Cancel
                </button>
            </a>
        </div>
    </div>
</div>
