{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'users/css/logout.css' %}">
{% endblock css %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8 lcars-black-bg">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">SIGN OUT</div>
        <div class="lcars-u-8-3" style="margin-left: 40px;">
            <p>Are you sure you want to sign out?</p>
            <form id="signin_form" action="{% url 'users:signout' %}" method="POST">
                {% csrf_token %}
                {% include "./includes/_form_buttons.html" %}
            </form>

        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
