{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">CHANGE PASSWORD</div>
        <div class="lcars-u-8-2" style="margin-left: 40px;">
            <p>Your password is now changed.</p>
        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
