{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">PASSWORD RESET</div>
        <div class="lcars-u-8-3" style="margin-left: 40px;">
            <p>
                We have sent you an e-mail. If you have not received it please check your spam folder.
            </p>
            <p>
                Otherwise contact us if you do not receive it in a few minutes.
            </p>
        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
