{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">{% if token_fail %}BAD TOKEN{% else %}RESET PASSWORD{% endif %}
        </div>
        <div class="lcars-u-8-4" style="margin-left: 40px;">
            {% if token_fail %}
                {% url 'users:password_reset' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used. Please
                    request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                </p>
            {% else %}
            <form id='password_reset_from_key_form' method="POST" action="{{ action_url }}">
                {% csrf_token %}
                    <div class="lcars-u-4">
                        <label for="password1" class="lcars-u-1 uppercase"
                               style="display: inline-block;"><b>{{ form.password1.label }}</b></label>
                        <input class="lcars-u-2 decorated rounded lcars-golden-tanoi-color" name="password1" type="password"
                               placeholder="Enter a password" id="password1"
                               maxlength="128" required>
                    </div>
                    <br>
                    <div class="lcars-u-4" style="display: table;">
                        <label for="password2" class="lcars-u-1 uppercase" style="display: table-cell;"><b>{{ form.password2.label }}</b></label>
                        <input class="lcars-u-2 decorated rounded lcars-golden-tanoi-color"
                               style="display: table-cell; margin-left:5px;" name="password2"
                               type="password" id="password2"
                               placeholder="Enter again the  password"
                               maxlength="128" required>
                    </div>
                    <p class="lcars-u-7" style="margin-top:2em">
                        <button class="lcars-element button uppercase" style="width: 8em;margin-left: 50%;" type="submit">Change Password</button>
                    </p>
            </form>
            {% endif %}
        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
