{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'users/css/password_change.css' %}">
{% endblock css %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8 lcars-black-bg">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">CHANGE PASSWORD
        </div>
        <div class="lcars-u-8-6" style="margin-left: 40px;">
            <form id='password_change_form'
                  method="POST"
                  action="{% url 'users:password_change' %}">
                {% csrf_token %}
                <br>
                    <div class="lcars-u-4">
                        <label for="oldpassword"
                               title="Required. Enter your old password"
                               class="lcars-u-1 uppercase"
                               style="display: inline-block;">
                            <b>{{ form.oldpassword.label }}</b>
                        </label>
                        <input class="lcars-u-2 decorated rounded lcars-golden-tanoi-color"
                               name="oldpassword"
                               title="Required. Enter your old password"
                               type="password"
                               placeholder="Enter the current password"
                               id="oldpassword"
                               maxlength="128"
                               autofocus
                               required>
                    </div>
                    <br>
                    <div class="lcars-u-4">
                        <label for="password1"
                               title="Required. Enter your new password"
                               class="lcars-u-1 uppercase"
                               style="display: inline-block;">
                            <b>{{ form.password1.label }}</b>
                        </label>
                        <input class="lcars-u-2 decorated rounded lcars-golden-tanoi-color"
                               name="password1"
                               type="password"
                               title="Required. Enter your new password"
                               placeholder="Enter a password"
                               id="password1"
                               maxlength="128"
                               required>
                    </div>
                    <br>
                    <div class="lcars-u-4" style="display: table;">
                        <label for="password2"
                               class="lcars-u-1 uppercase"
                               title="Required. Enter your new password again"
                               style="display: table-cell;">
                            <b>{{ form.password2.label }}</b>
                        </label>
                        <input class="lcars-u-2 decorated rounded lcars-golden-tanoi-color"
                               style="display: table-cell; margin-left:5px;"
                               title="Required. Enter your new password again"
                               name="password2"
                               type="password"
                               id="password2"
                               placeholder="Enter again the  password"
                               maxlength="128"
                               required>
                    </div>
                    {% include "./includes/_form_buttons.html" %}
            </form>
        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
