{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="lcars-row centered">
    <div class="lcars-bracket left hollow"></div>
    <div class="lcars-column lcars-u-8">
        <div class="lcars-element lcars-u-8" style="height: 2rem;">PASSWORD RESET</div>
        <div class="lcars-u-8-4" style="margin-left: 40px;">
            <p>
                <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            </p>
            <form id="password_reset_form" action="{% url 'users:password_reset' %}" method="POST">
                {% csrf_token %}
                <p> <!-- Email input -->
                    <label for="email" class="lcars-u-1 uppercase" style="display: inline-block;"><b>Email*: </b></label>
                    <input class="lcars-u-6 decorated rounded lcars-golden-tanoi-color" id="email" name="email" type="email"
                           placeholder="Enter the owner email address"
                           maxlength="254" required autofocus>
                </p>
                <p class="lcars-u-7" style="margin-top:2em">
                    <button class="lcars-element button uppercase" style="width: 8em;margin-left: 50%;" type="submit">Reset Password</button>
                </p>
            </form>
            <p>
                <p>Please contact us if you have any trouble resetting your password.</p>
            </p>
        </div>
        <div class="lcars-element lcars-u-8" style="height: 0.75rem;"></div>
    </div>
    <div class="lcars-bracket right hollow"></div>
</div>

{% endblock content %}
