
/****************************************************
  BASE
*****************************************************/

.uppercase {
  text-transform: uppercase;
}

.lcars-app-container {
  display: flex;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  overflow: hidden;
  margin: 0;
}

.lcars-app-container #container {
  display: flex;
  justify-content: center;

  margin-top: 4.25rem;
  margin-left: 8.25rem;

  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  width: 100%;
  height: 100%;

  overflow: auto;
}

.lcars-app-container #footer {
  position: fixed;
  background-color: #000;
  bottom: 0;
  left: 3px;
  padding-bottom: 0.5rem;
  width: calc(100% - 1rem);
  z-index: 1;
}

.copyright {
  text-align: right;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px 0;

}

.show-for-mobile {
  display: none;
}

.show-for-desktop {
  display: none;
}

.space-in-between {
  justify-content: space-between !important;
}

.vertically-centered {
  padding-top: 3px;
}

.justify-footer {
  display: flex;
  justify-content: space-between;
}

.footer-font {
  font-size: 80%;
}

@media screen and (min-width: 480px) {
  .show-for-desktop {
    display: block;
  }
}


@media screen and (max-width: 479px) {
  .show-for-mobile {
      display: block;
  }

  .margin-for-mobile {
    margin-left: 0 !important;
  }

.flex-for-mobile {
    display: flex;
    justify-content: space-between;
}

.lcars-element {
    position: relative;
    font-weight: bold;
    color: #000;
    text-align: right;
    background: #fc6;
    height: 3rem;
    width: 5.5rem;
    box-sizing: border-box;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 75%;
}

  .lcars-column  {
    display: none;
    flex-direction: column;
  }
}

.elbow-margin-left {
    margin-lef: -5px;
}

.lcars-alert {
  position: relative;
  font-weight: bold;
  color: #000;
  background: #fc6;
  height: 3rem;
  width: 7.5rem;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lcars-alert.rounded {
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.lcars-space-green-bg.lcars-space-green-bg {
  background-color: #00cc00;
  fill: #00cc00;
}
.lcars-space-green-border.lcars-space-green-border {
  border-color: #00cc00;
}

.lcars-debug-bg {
  background-color: #c69;
  fill: #c69;
}

.lcars-info-bg {
  background-color: #59f;
  fill: #59f;
}

.lcars-success-bg {
  background-color: #00cc00;
  fill: #00cc00;
}

.lcars-warning-bg {
    background-color: #f93;
    fill: #f93;
}

.lcars-error-bg {
  background-color: #e10;
  fill: #e10;
}

.lcars-debug-border {
  border-color: #c69;
}

.lcars-info-border {
  border-color: #59f;
}

.lcars-success-border {
  border-color: #00cc00;
}

.lcars-warning-border {
    border-color: #f93;
}

.lcars-error-border {
  border-color: #e10;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 50vw; /* Set a default minimum width */
    margin-left: -25vw; /* Divide value of min-width by 2 */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%;
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.lcars-user {
  margin: 0;
  margin-left: 0.83335rem;
  padding-top: 0.16667rem;
  padding-left: 0.16667rem;
  padding-right: 0.16667rem;
  display: inline-block;
  font-size: 100%;
  height: 100%;
}

a:hover.lcars-black-color {
    background-color: #fc6;
    text-decoration: underline;
}